<header>
  <CDBNavbar style="height: 73.5px; background-color: #333333; color: #ffffff;"
             dark="true"
             double="true">
    <CDBNavbarNav left="true">
      <span class="font-weight-bold" style="padding-left: 30px; font-size: 18px;"> {{ title }} </span>
    </CDBNavbarNav>
    <CDBNavbarNav right="true">
      <CDBNavItem>
       <CDBBtn color="white" outline="dark">
        <span role="button" (click)="onLogInClick()">
          <i class="fa-solid fa-user"></i>
          Log In
        </span>
       </CDBBtn>
      </CDBNavItem>
    </CDBNavbarNav>
  </CDBNavbar>
</header>
