<div class="container" style="max-height: 80vh; overflow-y: auto;">
  <div class="row h-15 h2">
    <div class="col-md-12">
      <h3>Upload your own Use Case</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>General information:</h5>
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-6">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title">
    </div>
    <div class="col-md-6">
      <label for="organizations">Organizations:</label>
      <input type="text" class="form-control" id="organizations" placeholder="Enter participating organizations">
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-6">
      <label for="industry">Industry:</label>
      <input type="text" class="form-control" id="industry" placeholder="Enter industry">
    </div>
    <div class="col-md-6">
      <label for="contact_person">Contact person:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="contact_person">Name & Mail</span>
        </div>
        <input type="text" class="form-control" id="name" placeholder="Enter name">
        <input type="text" class="form-control" id="email" placeholder="Enter mail">
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-12">
      <label for="description">Short description:</label>
      <textarea class="form-control" id="description" rows="3" placeholder="Enter description"></textarea>
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-9">
      <label for="link">Link to full documentation:</label>
      <input type="text" class="form-control" id="link" placeholder="Enter link">
    </div>
    <div class="col-md-3">
      <label for="yop">Year of publication:</label>
      <input type="text" class="form-control" id="yop" placeholder="Enter year">
    </div>
  </div>
  <div class="row" style="padding-top: 25px;">
    <div class="col-md-12">
      <h5>Use case characteristics:</h5>
    </div>
  </div>
</div>
