<div class="container" style="max-height: 80vh; overflow-y: auto; padding-bottom: 150px;">
  <div class="row h-15 h2">
    <div class="col-md-12">
      <h3>Welcome!</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>More than 70% of global data and analytics decision makers are expanding their ability to leverage external data. What is the reason for this growth? Simply put, data gains value when it is shared. Gartner™ predicts that organizations that promote data sharing will outperform their competitors in most business areas by 2023. For example, data sharing offers the opportunity to work with "frenemies" within a market industry to achieve common goals, increase efficiencies, reduce costs, expand research collaborations, protect intellectual property, and encrypt data in motion. Through data sharing and pooling, organizations can gain a competitive advantage.<br><br>
        To take advantage of this trend as well, we have developed a tool that documents ecosystems, platforms, and concepts of data sharing that have worked to date and can assist in creating new ecosystems with valuable information.<br><br>
        The core of this tool is the <a href="#" (click)="library()" style="color: inherit;">Use Case Library</a>, which contains all use cases and can be filtered as desired. What the individual dimensions of the filter mean can be read on the <a href="#" (click)="help()" style="color: inherit;">Help</a> page.<br><br>
        It is also possible to create an account and <a href="#" (click)="new()" style="color: inherit;">upload use cases</a> yourself and to mark certain use cases as favorites.</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Trending Use Cases:</h5>
    </div>
  </div>
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <app-use-case-item [useCase]="firstCase" [casesimilarityBlocked]="true" [favBlocked]="true"></app-use-case-item>
          </div>
          <div class="carousel-item" *ngFor="let case of otherCases">
            <app-use-case-item [useCase]="case" [casesimilarityBlocked]="true" [favBlocked]="true"></app-use-case-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
