<div class="container" style="max-height: 80vh; overflow-y: auto;">
  <div class="row h-15 h2">
    <div class="col-md-12">
      <h3>Browse Use Cases</h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-search-filter (filterCase)="updateFilCase($event)"></app-search-filter>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <app-use-case-list [filterCase]="filCase" [sortedUseCases]="sortedCases"></app-use-case-list>
    </div>
  </div>
</div>
