<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li href="#" class="list-group-item list-group-item-secondary">
        <div class="row">
          <div class="col-md-3">
            Title
          </div>
          <div class="col-md-3">
            Organization
          </div>
          <div class="col-md-2">
            Industries
          </div>
          <div class="col-md-2" style="text-align: right;">
            Release year
          </div>
          <div class="col-md-2" style="text-align: right;">
            Fit in %
          </div>
        </div>
      </li>
      <app-use-case-item
      *ngFor="let case of sortedUseCases"
      [useCase]="case"
      [filterCase]="filterCase"
      >
      </app-use-case-item>
    </ul>
  </div>
</div>
