<div class="container-fluid h-100" style="overflow-y: hidden;">
  <div class="row h-100">
    <div class="col-md-auto p-0" id="sidebar">
      <app-sidebar (changedSite)="changeSite($event)"></app-sidebar>
    </div>
    <div class="col p-0" style="height: 73.5px;">
        <app-header [title]="selectedSite"></app-header>
      <div class="container-fluid p-4" id="main-content">
        <app-home [hidden]="!(selectedSite === 'Home')" (siteEmitter)="selectedSite = $event;" #home></app-home>
        <app-use-case-library [hidden]="!(selectedSite === 'Use Case Library')" (newFav)="gotFav($event)" (newUnfav)="gotUnfav($event)" #lib></app-use-case-library>
        <app-upload-new-case [hidden]="!(selectedSite === 'Upload new Case')" (uploadedCase)="passCase($event)" (libActive)="selectedSite = 'Use Case Library';"></app-upload-new-case>
        <app-my-profile [hidden]="!(selectedSite === 'My Profile')" (deleteCase)="delCase($event)" #profile></app-my-profile>
        <app-help [hidden]="!(selectedSite === 'Help')"></app-help>
      </div>
    </div>
  </div>
</div>
