<CDBSidebar textColor="#ffffff" backgroundColor="#333333">
  <CDBSidebarHeader [prefix]="icon" >
      <ng-template #icon>
          <i class="fa fa-bars fa-large"></i>
      </ng-template>

      DataSharingTool
  </CDBSidebarHeader>

  <CDBSidebarContent>
      <CDBSidebarMenu class="sidebar-content">
        <div (click)="onHomeClick()">
          <CDBSidebarMenuItem link='/home' icon="user">
              <span>Home</span>
          </CDBSidebarMenuItem>
        </div>
        <div (click)="onLibraryClick()">
          <CDBSidebarMenuItem link='/library' icon="book">
            <span>Use Case Library</span>
          </CDBSidebarMenuItem>
        </div>
        <div (click)="onUploadNewCaseClick()">
          <CDBSidebarMenuItem link='/upload-new-case' icon="upload" >
            <span>Upload new Case</span>
          </CDBSidebarMenuItem>
        </div>
        <div (click)="onMyProfileClick()">
          <CDBSidebarMenuItem link='/profile' icon="user" >
            <span>My Profile</span>
          </CDBSidebarMenuItem>
        </div>
        <div (click)="onHelpClick()">
          <CDBSidebarMenuItem link="/help" icon="question" >
            <span>Help</span>
          </CDBSidebarMenuItem>
        </div>
      </CDBSidebarMenu>
  </CDBSidebarContent>
  <div class="mt-auto">

      <CDBSidebarFooter style="text-align: center; margin-top: auto;">
          <div class="sidebar-btn-wrapper" style="padding: 20px 5px">
            <span (click)="onFooterClick()" role="button">About</span>
          </div>
      </CDBSidebarFooter>
  </div>
</CDBSidebar>
