<form>
  <div class="form-row">
    <form class="form-inline">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Filter for title" id="title">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Filter for organization" id="organization">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Filter for industry" id="industry">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Filter for release year" id="release year">
    </form>
  </div>
  <div class="form-row">
    <a class="mb-2 mr-sm-2" href="#advancedFiltersettings" data-toggle="collapse" aria-expanded="false" aria-controls="advancedFiltersettings">
      Advanced filter settings
    </a>
  </div>
  <div class="collapse show" id="advancedFiltersettings">
    <div class="form-row">
      <form class="form-inline">
        <div class="dropdown mb-2 mr-sm-2">
          <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data type
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="process">
              <label class="form-check-label" for="process">
                Process
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="product">
              <label class="form-check-label" for="product">
                Product
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="environment">
              <label class="form-check-label" for="environment">
                Environment
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="human">
              <label class="form-check-label" for="human">
                Human
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="other">
              <label class="form-check-label" for="other">
                Other
              </label>
            </div>
          </div>
        </div>
        <div class="dropdown mb-2 mr-sm-2">
          <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Maturity of processing
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="raw data">
              <label class="form-check-label" for="raw data">
                Raw data
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="modified data">
              <label class="form-check-label" for="modified data">
                Modified data
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="enriched data">
              <label class="form-check-label" for="enriched data">
                Enriched data
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="processed data">
              <label class="form-check-label" for="processed data">
                Processed data
              </label>
            </div>
          </div>
        </div>
        <div class="dropdown mb-2 mr-sm-2">
          <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data source
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="generated">
              <label class="form-check-label" for="generated">
                Generated
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="acquired">
              <label class="form-check-label" for="acquired">
                Acquired
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="customer-provided">
              <label class="form-check-label" for="customer-provided">
                Customer-provided
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="checkbox" value="" id="free available">
              <label class="form-check-label" for="free available">
                Free available
              </label>
            </div>
          </div>
        </div>
        <div class="dropdown mb-2 mr-sm-2">
          <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Privacy
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="radio" value="" id="public">
              <label class="form-check-label" for="public">
                Public
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="radio" value="" id="internal">
              <label class="form-check-label" for="icquired">
                Internal
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="radio" value="" id="confidential">
              <label class="form-check-label" for="confidential">
                Confidential
              </label>
            </div>
            <div class="form-check dropdown-item">
              <input class="form-check-input" type="radio" value="" id="sensitive">
              <label class="form-check-label" for="sensitive">
                Sensitive
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</form>
