
  <div class="row">
    <div class="col-md-3">
      <input type="text" (keyup)="titleChange($event)" class="form-control mb-2 mr-sm-2" placeholder="Filter for title" id="title">
    </div>
    <div class="col-md-3">
      <input type="text" (keyup)="organizationChange($event)" class="form-control mb-2 mr-sm-2" placeholder="Filter for organization" id="organization">
    </div>
    <div class="col-md-3">
      <input type="text" (keyup)="industriesChange($event)" class="form-control mb-2 mr-sm-2" placeholder="Filter for industry" id="industry">
    </div>
    <div class="col-md-3">
      <input type="text" (keyup)="yopChange($event)" class="form-control mb-2 mr-sm-2" placeholder="Filter for year of publication" id="year of publication">
    </div>
  </div>
  <div class="form-row">
      <a class="mb-2 mr-sm-2" style="color: inherit; margin-left: 3px;" href="#advancedFiltersettings" data-toggle="collapse" aria-expanded="false" aria-controls="advancedFiltersettings">
        Show advanced filter settings
      </a>
  </div>
  <div class="collapse" id="advancedFiltersettings">
    <div class="form-row">
      <div class="form-inline">
        <app-dropdown-checkbox (checkedChanged)="typeChange($event)" [dimension]="'Data type'" [characteristics]="['Process', 'Product', 'Environment', 'Human', 'Other']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="mopChange($event)" [dimension]="'Maturity of processing'" [characteristics]="['Raw data', 'Modified data', 'Enriched data', 'Processed data']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="sourceChange($event)" [dimension]="'Data source'" [characteristics]="['Generated', 'Acquired', 'Customer-provided', 'Free available']"></app-dropdown-checkbox>
        <app-dropdown-radio (charChanged)="privacyChange($event)" [dimension]="'Privacy'" [characteristics]="['Public', 'Internal', 'Confidential', 'Sensitive']"></app-dropdown-radio>
        <app-dropdown-radio (charChanged)="pii_relevanceChange($event)" [dimension]="'PII-relevance'" [characteristics]="['PII-relevant', 'Non-PII-relevant']"></app-dropdown-radio>
        <app-dropdown-radio (charChanged)="sovereignityChange($event)" [dimension]="'Sovereignity'" [characteristics]="['Individual', 'Organizational', 'Shared']"></app-dropdown-radio>
      </div>
      <div class="form-inline">
        <app-dropdown-checkbox (checkedChanged)="timeframeChange($event)" [dimension]="'Timeframe'" [characteristics]="['Static', 'Up-to-Date', '(Near-) realtime']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="motivationChange($event)" [dimension]="'Motivation'" [characteristics]="['Economic', 'Social & Ecological', 'Legal', 'Cultural']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="scopeChange($event)" [dimension]="'Scope'" [characteristics]="['Intra-organizational', 'Same industry', 'Cross-industry']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="rewardChange($event)" [dimension]="'Reward'" [characteristics]="['Financial', 'Virtual assest', 'Data', 'Service', 'Reputation', 'Other']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="payment_modelChange($event)" [dimension]="'Payment model'" [characteristics]="['Free', 'Fixed', 'Subscription-based', 'Usage-based', 'Revenue-based', 'Hybrid']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="roleChange($event)" [dimension]="'Role'" [characteristics]="['Data-provider', 'Intermediary', 'Data consumer', 'Service broker']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="provisionChange($event)" [dimension]="'Provision'" [characteristics]="['Closed API', 'Platform', 'Marketplace', 'Open API']"></app-dropdown-checkbox>
      </div>
      <div class="form-inline">
        <app-dropdown-checkbox (checkedChanged)="interoperabilityChange($event)" [dimension]="'Interoperability'" [characteristics]="['Legal', 'Organizational', 'Semantic', 'Technical']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="accessChange($event)" [dimension]="'Access coordination'" [characteristics]="['Agreement-based', 'Application-based', 'Trust-based', 'Open']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="frequencyChange($event)" [dimension]="'Frequency'" [characteristics]="['On demand', 'Event-based', 'Continuous']"></app-dropdown-checkbox>
        <app-dropdown-checkbox (checkedChanged)="pouChange($event)" [dimension]="'Purpose of usage'" [characteristics]="['Primary', 'Secondary', 'Tertiary', 'End use']"></app-dropdown-checkbox>
        <app-dropdown-radio (charChanged)="torChange($event)" [dimension]="'Type of relationship'" [characteristics]="['One-to-one', 'One-to-many', 'Many-to-one', 'Many-to-many']"></app-dropdown-radio>
      </div>
      <div class="form-inline">
        <app-dropdown-checkbox (checkedChanged)="benefitsChange($event)" [dimension]="'Benefits'" [characteristics]="['Efficiency gains', 'Improved quality', 'New insights', 'New offerings']"></app-dropdown-checkbox>
        <app-dropdown-radio (charChanged)="ipChange($event)" [dimension]="'Initiating party'" [characteristics]="['Provider-initiated', 'Intermediary-initiated', 'Consumer-initiated', 'Service broker-initiated']"></app-dropdown-radio>
        <app-dropdown-checkbox (checkedChanged)="caChange($event)" [dimension]="'Control authority'" [characteristics]="['Provider-controlled', 'Intermediary-controlled', 'Consumer-controlled', 'Service broker-controlled']"></app-dropdown-checkbox>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-light" style="margin-right: 3px;">Clear filter</button>
    <button class="btn btn-dark" (click)="onFilterCases()">Search</button>
  </div>
</div>
