<li class="list-group-item">
  <a href="#caseInfo" class="text-reset" data-toggle="collapse" aria-expanded="false" aria-controls="caseInfo">
    <div class="row">
      <div class="col-md-3">
        {{ useCase.title }}
      </div>
      <div class="col-md-3">
        {{ arToStr(useCase.organizations) }}
      </div>
      <div class="col-md-3">
        {{ useCase.industries.toString() }}
      </div>
      <div class="col-md-2">
        {{ useCase.year_of_publication }}
      </div>
      <div class="col-md-1" style="text-align: right;">
        {{ computeFit() }}
      </div>
    </div>
  </a>
  <div class="container collapse" id="caseInfo">
    <hr>
    <div class="row">
      <p>
        The report, researched and produced by the Open Data Institute (ODI), focuses on the importance of secondary use of health data in Europe to help respond to the many urgent challenges facing society and economy today. It states that by reusing health data in different ways, we can increase the value of this data and help to enable improvements in population health, more efficient healthcare systems, and foster innovation. The report identifies 22 key policy components needed to achieve a trusted and trustworthy data ecosystem and provides an evaluation of the quality of policy activity for each component. The report is independent work by the ODI that was commissioned by Roche.
      </p>
    </div>
    <div class="row">
      <span
      class="badge badge-secondary"
      style="padding: 7px; margin: 3px; font-size: 13px;"
      *ngFor="let item of clearedProperties">
        {{ charProper(item[0]) }}: {{ arToStr(item[1]) }}
      </span>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 text-left">
        Contact person: <a href="mailto:{{ useCase.contact_person.email }}">{{ useCase.contact_person.name }}</a>
      </div>
      <div class="col-md-6 text-right">
        <a href="{{ useCase.link }}">Link to full document</a>
      </div>
    </div>
  </div>
</li>
