<li class="list-group-item">
  <a
  href="{{ ID_hash }}"
  class="text-reset"
  data-toggle="collapse"
  aria-expanded="false"
  attr.aria-controls="{{ ID_normal }}">
    <div class="row">
      <div class="col-md-3">
        {{ useCase.title }}
      </div>
      <div class="col-md-3">
        {{ arToStr(useCase.organizations) }}
      </div>
      <div class="col-md-2">
        {{ useCase.industries.toString() }}
      </div>
      <div class="col-md-2" style="text-align: right;" *ngIf="!casesimilarityBlocked">
        {{ useCase.year_of_publication }}
      </div>
      <div class="col-md-2" style="text-align: right;" *ngIf="!casesimilarityBlocked">
        {{ computeFit() }}
      </div>
      <div class="col-md-4" style="text-align: right;" *ngIf="casesimilarityBlocked">
        {{ useCase.year_of_publication }}
      </div>
    </div>
  </a>
  <div class="container collapse" id="{{ ID_normal }}">
    <hr>
    <div class="row">
      <p>
        {{ useCase.description }}
      </p>
    </div>
    <div class="row">
      <span
      class="badge badge-secondary"
      style="padding: 7px; margin: 3px; font-size: 13px;"
      *ngFor="let item of clearedProperties">
        {{ charProper(item[0]) }}: {{ arToStr(item[1]) }}
      </span>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 text-left">
        Contact person: <a href="mailto:{{ useCase.contact_person.email }}">{{ useCase.contact_person.name }}</a>
      </div>
      <div class="col-md-4" style="text-align: center;">
        <a href="#" (click)="addFav()" *ngIf="favOption">Add to favorites</a>
        <a href="#" (click)="unfav()" *ngIf="unfavOption">Delete from favorites</a>
        <a href="#" (click)="deleteCase()" *ngIf="deleteOption">Delete from Library</a>
        <a href="#" *ngIf="!favOption && !unfavOption"></a>
      </div>
      <div class="col-md-4 text-right">
        <a href="{{ useCase.link }}" target="_blank">Link to full document</a>
      </div>
    </div>
  </div>
</li>
