<div class="dropdown mb-2 mr-sm-2">
  <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ dimension }}
  </button>
  <form>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div *ngFor="let char of characteristics" class="form-check dropdown-item">
        <input (change)="onCharChange(char)" class="form-check-input" formControlName="{{ char }}" type="checkbox" [value]="char" id="{{ char }}">
        <label class="form-check-label" for="{{ char }}">
          {{ char }}
        </label>
      </div>
    </div>
  </form>
</div>
